@import '../../App.scss';

.title {
    margin: 40px auto;

}

.controller {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 46px auto 0;
    width: 233px;
}