@import '../../App.scss';
.main {
    margin-top: -200px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    .rotate {
        transform-origin: center center;
        transform: rotate(180deg);
    }

    .title {
        margin-top: 150px;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 150px;

        .text {
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            color: $color2;
        }
    }

}