@import '../../../App.scss';


.task {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 62px;
    border-bottom: solid 1px $color1;

    .checkbox {
        width: 20px;
        height: 20px;
    }

    .title {
        width: 250px;
        overflow: hidden;
        font-size: 20px;
        font-style: normal;
        line-height: 23px;
        text-align: center;
        color: $color1;
    }

    .delete {
        outline: none;
        display: block;
        border: none;
        background: none;
        color: red;
        cursor: pointer;

        &:hover {
            transform: scale(1.4) rotate(10deg);
        }

    }
}